[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
pymysql = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-login = "*"
pytest = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
